# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.jar

# Ignore virtual environment
.venv/

# Ignore config files with AWS keys
config.py
*.env
aws_config.json

# Ignore configuration and credential files
pipeline.conf

# Ignore OS-specific files
.DS_Store
Thumbs.db


